{% extends 'applicant/layouts/master.html' %}
   {% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
 <link rel="stylesheet" type="text/css" href="{% static 'applicant/css/accounts.css' %}">
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.8/build/jquery.datetimepicker.full.min.js"></script>
 <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"></script>

 <div class="row">
    <div class="col-md-12 col-md-offset-3">
    <form method="post" id="msform">
       <fieldset id="basic">
                <h2 class="fs-title">{% trans 'Schedule' %}</h2>
               <h3 class="fs-subtitle"></h3>
                   {% csrf_token %}
                
                           
                
                  

        <hr>
         
       </fieldset>
      
     
    </form>
    </div>
  </div>





   

{% endblock %}
