{% extends 'applicant/layouts/master.html' %}

{% load bootstrap4 %}
{% load i18n %}
   {% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'applicant/css/accounts.css' %}">

<div class="row">
    <div class="col-md-12 col-md-offset-3">
        <form method="post" id="msform">

              <fieldset id="basic">
                <h2 class="fs-title">Sign up</h2>
                <h3 class="fs-subtitle">Tell us something more about you</h3>
                  <!--{% if messages %}-->
                    <!--<ul class="messages">-->
                        <!--{% for message in messages %}-->
                        <!--<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
                        <!--{% endfor %}-->
                    <!--</ul>-->
                  <!--{% endif %}-->
                  {% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

                   {% csrf_token %}
                  {{ form.email }}<span> {{ form.email.errors }}</span>
                  {{ form.mobile }}<span> {{form.mobile.errors }}</span>
                  {{ form.password }} <span>{{ form.password.errors }}</span>
                  {{ form.password2 }} <span>{{ form.password2.errors }}</span>

                  <button class="action-button" >{% trans 'Signup' %}</button>
            </fieldset>
        </form>
      
    </div>
</div>


{% endblock %}
